*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    height: 60px;
    width: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bd {
    border: 1px solid black;
}

.br {
    border-radius: 10px;
}

#main {
    min-width: 300px;
    max-width: 500px;
    margin: 2em auto;
    padding: 1em;
}

#display {
    height: 4em;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: grid;
    padding: 1em;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "number number number operator"
        "enter enter enter enter";
}

.numbers-div {
    display: grid;
    grid-area: number;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.operators-div {
    margin-left: 4px;
    display: grid;
    grid-area: operator;
    grid-gap: 5px;
}

.operator {
    background-color: rgb(172, 161, 161);
    font-size: 18px;
    border-radius: 3px;
}

.operator:hover {
    background-color: lightgrey;
}

.operator:visited {
    background-color: olive;
}

.enter-div {
    margin-top: 5px;
    display: grid;
    grid-area: enter;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.keyboard-legend {
    text-align: center;
    width: 30%;
    margin: auto;
}

.keyboard-legend p {
    font-weight: bold;
}



